<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Casino Limit Camera System</title>
</head>
<body>
    <img src="{{url_for('video_feed')}}">
</body>
</html>