<!DOCTYPE html>
<html>
  <head>
    <title>Intranet CNL</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="icon" href="/images/casinolimit-logo.svg">
  </head>
  <body style="background: url(images/balances.jpeg) center center no-repeat fixed; background-size: cover;">
    <header>
      <!-- Let's move this in an other file and use the include function
      e.g. <$- include('header') $>
      Note: I changed % to $ so ejs does not execute the instruction, will need to be changed back when uncommented-->
      <nav class="navbar navbar-expand-md fixed-top bg-dark navbar-dark">
        <div class="container-fluid">
          <a class="navbar-brand fw-light fs-3" href="/"><img src="/images/casinolimit-logo-header.svg" height="50"></a>
          <div class="collapse navbar-collapse pt-2">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link" href="/profile">Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/balances">Balances</a>
              </li>
            </ul>
            <form class="d-flex" action="/logout" method="post">
              <button type="submit" class="btn btn-outline-danger">Logout</button>
            </form>
          </div>
        </div>
      </nav>
    </header>
    <main class="mt-5 pt-4">
      <div class="container-fluid mt-3">
        <div class="row mb-2">
          <form action="/balances/search", method="get" class="col-4">
            <div class="input-group me-2">
              <input type="text" name="q" placeholder="Search" class="form-control"/>
              <button type="submit" class="btn btn-outline-secondary text-bg-light">
                <img src="/icons/search.svg"/>
              </button>
            </div>
          </form>
        </div>
        <div class="row mb-2 ps-5 pe-5">
          <table class="table text-bg-light" style="opacity: .9 !important;" >
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Balance</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
              <% for (let index = 0; index < balances.length; index++) { %>
                <tr>
                  <th scope="row"><%= balances[index]['id'] %></th>
                  <td><%= balances[index]['given_name'] %></td>
                  <td><%= balances[index]['surname'] %></td>
                  <td><%= balances[index]['count'] %></td>
                  <td><%= balances[index]['status'] %></td>
                </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </main>
  </body>
</html>