<!DOCTYPE html>
<html>
  <head>
    <title>Intranet CNL</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <script src="/javascripts/bootstrap.min.js"></script>
    <link rel="icon" href="/images/casinolimit-logo.svg">
  </head>
  <body>
    <header>
      <!-- Let's move this in an other file and use the include function
      e.g. <$- include('header') $>
      Note: I changed % to $ so ejs does not execute the instruction, will need to be changed back when uncommented-->
      <nav class="navbar navbar-expand-md fixed-top bg-dark navbar-dark">
        <div class="container-fluid">
          <a class="navbar-brand fw-light fs-3" href="/"><img src="/images/casinolimit-logo-header.svg" height="50"></a>
          <div class="collapse navbar-collapse pt-2">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link" href="/profile">Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/balances">Balances</a>
              </li>
            </ul>
            <form class="d-flex" action="/logout" method="post">
              <button type="submit" class="btn btn-outline-danger">Logout</button>
            </form>
          </div>
        </div>
      </nav>
    </header>
    <main class="mt-5 pt-4">
      <div class="container-fluid mt-3">
        <div class="row mb-2">
          <div class="col-3">
            <img src="/images/news.jpeg" class="img-fluid" />
          </div>
          <div class="col-8">
            <div class="accordion accordion-flush">
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Congratulations to our latest jackpot winner, John Smith, who took home a whopping $100,000!
                    We're thrilled to see one of our valued players hit it big.
                  </button>       
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show">
                  <div class="accordion-body">
                    <p>At our casino, we're committed to providing our players with the best possible gaming experience.
                      We're constantly striving to improve our facilities, our customer service, and of course,
                      our selection of games. But nothing makes us happier than seeing one of our players hit a big
                      jackpot.<br/>That's why we're thrilled to announce that John Smith has won a life-changing $100,000
                      jackpot on one of our popular slot machines. John is a regular player at our casino, and we're
                      delighted to see him take home such a significant prize.<br/>"I couldn't believe my eyes when I saw
                      the jackpot symbols line up on the screen," John said in a statement. "I've been playing at this
                      casino for years, and I never thought I'd be the one to win the big one. I'm absolutely thrilled
                      and can't wait to share my winnings with my family."<br/>We're equally thrilled for John and can't
                      wait to see what he does with his winnings. Will he treat himself to a new car or a luxurious
                      vacation? Perhaps he'll use some of the money to help out a favorite charity. Whatever he chooses
                      to do, we're sure that John's jackpot win will bring a smile to his face and those of his loved ones.</p>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Don't miss out on our upcoming poker tournament, happening on Saturday, March 21st. Registration
                    is now open, so sign up today!
                  </button>       
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse">
                  <div class="accordion-body">
                    <p>Calling all poker enthusiasts! Our casino is excited to announce an upcoming poker tournament
                      happening on Saturday, March 21st. Don't miss out on your chance to win big and show off your
                      poker skills.<br/>The tournament will begin at 12pm and will feature a variety of exciting games,
                      including No Limit Hold'em and Pot Limit Omaha. With a buy-in of just $100, this is an affordable
                      way to test your luck and compete against other poker players.<br/>In addition to the exciting
                      games, we'll also have a variety of prizes up for grabs. The winner will receive a whopping
                      $10,000 cash prize, and there will be plenty of other cash and prize giveaways throughout the
                      tournament.<br/> But that's not all - we'll also have a special guest appearance by professional
                      poker player and TV personality, Phil Hellmuth. Phil will be on hand to provide expert commentary
                      and analysis, and he'll even be participating in some of the games. Don't miss out on your chance
                      to meet and play against one of the greatest poker players of all time.<br/>Registration for the
                      tournament is now open, so sign up today to secure your spot. Space is limited, so don't wait -
                      guarantee your spot in this exciting event.<br/>And if you're not ready to compete in the
                      tournament just yet, don't worry. We'll also have plenty of other poker games and activities
                      happening throughout the day, so you can still come and enjoy the fun.<br/>So mark your calendars
                      for Saturday, March 21st and get ready to experience the thrill of poker at our casino. We can't
                      wait to see you there!</p>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    We're excited to announce the launch of our new loyalty program, 'Players Club'. Earn points and
                    rewards for your play, and get exclusive access to promotions and events.
                  </button>       
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse">
                  <div class="accordion-body">
                    <p>We're excited to announce the launch of our new loyalty program, 'Players Club'. Earn points and
                      rewards for your play, and get exclusive access to promotions and events.<br/>At our casino, we're
                      always looking for ways to show our appreciation for our loyal players. That's why we're thrilled
                      to introduce our new loyalty program, 'Players Club'. This exciting program allows you to earn
                      points and rewards for your play, and gives you exclusive access to promotions and events.<br/>
                      Here's how it works: every time you play at our casino, you'll earn points that can be redeemed
                      for a variety of rewards. From free play to luxury hotel stays, there are plenty of ways to use
                      your points. Plus, as a member of the Players Club, you'll get exclusive access to promotions and
                      events that aren't available to the general public.<br/>But that's not all - we're also offering
                      a special introductory promotion for new members. Sign up for the Players Club today and receive
                      a free $100 chip, plus a chance to win a camel.</p>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    Due to popular demand, we're adding more tables to our busy roulette area. Come and try your
                    luck at one of our new tables!
                  </button>       
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse">
                  <div class="accordion-body">
                    <p>At our casino, we're always looking for ways to enhance the gaming experience for our players.
                      That's why we're excited to announce that we're adding more tables to our busy roulette area,
                      due to popular demand.<br/>Roulette is one of our most popular games, and we're constantly working
                      to ensure that there's enough space for all of our players to enjoy the game. With the addition of
                      these new tables, we're confident that we can provide an even better experience for our players.<br/>
                      Our new tables will feature the same exciting gameplay that you've come to expect from our
                      roulette area. With a variety of betting options and a friendly, experienced staff, you'll feel
                      like you're in the heart of the casino. Plus, with more tables available, you'll have a better
                      chance of finding a spot to play and winning big.<br/>So why not come and try your luck at one
                      of our new tables? Our friendly and experienced croupiers will be happy to welcome you and help
                      you place your bets. Who knows, you might just hit the jackpot!<br/>At our casino, we're
                      committed to providing our players with the best possible gaming experience. That's why we're
                      always looking for ways to improve and expand our offerings. With the addition of these new
                      roulette tables, we're confident that we can provide an even more exciting and enjoyable
                      experience for our players.<br/>So why wait? Come and visit us today and see for yourself why our
                      roulette area is one of the most popular in town. We look forward to welcoming you!</p>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    We're hosting a charity event on May 15th, with all proceeds going to local children's charities.
                    Join us for a night of fun and giving back to the community.
                  </button>       
                </h2>
                <div id="collapseFive" class="accordion-collapse collapse">
                  <div class="accordion-body">
                    <p>At our casino, we're committed to giving back to the community that supports us. That's why we're
                      thrilled to announce that we're hosting a charity event on May 15th, with all proceeds going to
                      local children's charities.<br/>
                      This exciting event will feature a variety of fun and entertaining activities, including a poker
                      tournament, a silent auction, and a raffle. Plus, we'll have plenty of delicious food and drinks
                      available to enjoy.<br/>But the best part? All of the proceeds from the event will go to
                      supporting local children's charities. These organizations do vital work in our community,
                      providing support and resources to children who need it most. By attending our charity event,
                      you'll not only have a great time, but you'll also be helping to make a difference in the lives
                      of local children.<br/>So why not join us for a night of fun and giving back to the community?
                      Tickets are now on sale, so be sure to secure your spot today. We look forward to seeing you
                      there!<br/>And if you're unable to attend the event, but still want to support the cause, you can
                      make a donation directly to the children's charities we're supporting. Every little bit helps,
                      and we appreciate your generosity.<br/>Thank you for your support, and we look forward to seeing
                      you at our charity event on May 15th!</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
