<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Intranet CNL</title>
		<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
		<link rel="icon" href="/images/casinolimit-logo.svg">
	</head>
	<body style="background: url(images/login.jpeg) center center no-repeat fixed; background-size: cover;">
		<div class="text-center mt-5">
			<div class="w-100 m-auto" style="max-width: 400px;">
				<h1 class="h3 mb-3 p-2 bg-dark text-light rounded" style="--bs-bg-opacity: .9;">Casino Limit Intranet<br/>Please, sign in:</h1>
                <% if (locals.wrong_login) { %>
                <div class="p-3 mb-2">
                    <div class="d-inline alert alert-danger">Unknown user <%- login %></div>
                </div>
                <% } else if (locals.wrong_pwd) { %>
				<div class="p-3 mb-2">
					<div class="d-inline alert alert-danger">Wrong credentials</div>
				</div>
				<% } %>
				<form action="/login" method="post">
					<div class="form-floating">
						<input id="flogin" type="text" name="login" placeholder="Login" class="form-control mb-1">
						<label for="flogin">Login</label>
					</div>
					<div class="form-floating">
						<input id="fpwd" type="password" name="password" placeholder="Password" class="form-control mb-1">
						<label for="fpwd">Password</label>
					</div>
					<div>
						<button type="submit" class="btn btn-primary mb-5">Submit</button>
					</div>
				</form>
				<div class="h6 p-2 bg-light rounded d-inline" style="--bs-bg-opacity: .9;">Not yet registered ?</div>
				<a href="/signup" class="btn btn-primary btn-sm">Sign up</a>
			</div>
		</div>
	</body>
</html>