<!DOCTYPE html>
<html>
  <head>
    <title>Intranet CNL</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <script src="/javascripts/bootstrap.min.js"></script>
    <link rel="icon" href="/images/casinolimit-logo.svg">
  </head>
  <body>
    <header>
      <!-- Let's move this in an other file and use the include function
      e.g. <$- include('header') $>
      Note: I changed % to $ so ejs does not execute the instruction, will need to be changed back when uncommented-->
      <nav class="navbar navbar-expand-md fixed-top bg-dark navbar-dark">
        <div class="container-fluid">
          <a class="navbar-brand fw-light fs-3" href="/"><img src="/images/casinolimit-logo-header.svg" height="50"></a>
          <div class="collapse navbar-collapse pt-2">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link" href="/profile">Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/balances">Balances</a>
              </li>
            </ul>
            <form class="d-flex" action="/logout" method="post">
              <button type="submit" class="btn btn-outline-danger">Logout</button>
            </form>
          </div>
        </div>
      </nav>
    </header>
    <main class="mt-5 pt-4">
      <div class="container-fluid mt-3">
        <div class="row">
          <div class="col-4 pe-3">
            <h1 class="h2">My profile :</h1>
            <img src="/images/<%= user.img %>" alt="Upload a photo to have a cool profile !" style="max-width: 100%; max-height: 400px;" />
            <form action="/profile" method="post" enctype="multipart/form-data">
              <input class="form-control mb-1 mt-1" name="title" placeholder="Title" />
              <input class="form-control mb-1" name="file" type="file" accept=".jpg" />
              <button class="btn btn-primary" type="submit">Upload</button>
            </form>
            <% if (locals.path) { %>
              <p class="alert alert-success" role="alert">Your new photo has been uploaded (<%= path %>)</p>
            <% } %>
            <% if (locals.err) { %>
              <p class="alert alert-danger" role="alert">Something went wrong. A security alert may have been reported. Please be sure to provide a valid title.</p>
            <% } %>
          </div>
          <div class="col-8 ps-3">
            <h1 class="h2">My notes :</h1>
            <div class="accordion">
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Evacuation in case of fire
                  </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show">
                  <div class="accordion-body">
                    <p>The safety of our guests and staff is of utmost importance to us. In the event of an emergency
                      that requires an evacuation, it is crucial that we follow a well-structured plan to ensure the
                      safe and efficient exit of all building occupants. The following evacuation procedure outlines
                      the necessary steps to be taken in case of an emergency that requires an evacuation of our casino
                      building.<br/>Our casino building is equipped with an emergency alert system that will sound an
                      alarm in case of an emergency. The alarm will alert building occupants and emergency responders
                      to take action.<br/>When the emergency alert system sounds, all occupants must immediately
                      evacuate the building using the nearest available exit. Do not use elevators. All staff members
                      should be familiar with the emergency evacuation procedures and ensure that all guests are safely
                      evacuated.<br/>The casino building has clearly marked exit routes that lead to the outside of the
                      building. Familiarize yourself with the location of the nearest exit and the route to it. In case
                      of an emergency, follow the exit route signs and proceed to the designated assembly point outside
                      the building.<br/>Designated assembly points have been established outside the building for
                      guests and staff to gather once they have evacuated the building. These points are located in
                      safe areas away from the building and potential hazards.<br/>Upon evacuating the building, all
                      staff members and guests should proceed to the designated assembly point and report to their
                      supervisor or a member of the security team. This will help to ensure that all occupants are
                      accounted for and that no one is left behind in the building.<br/>Once the building has been
                      evacuated, a member of the security team should immediately notify the fire department by calling
                      the emergency services number. Provide the building address and any additional information
                      requested by the dispatcher.</p>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    How to organize a surprise birthday party for very rich clients
                  </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse">
                  <div class="accordion-body">
                    <p>To ensure the best surprise birthday party for a rich client at a casino, the following steps
                      and precautions should be taken:
                      <ul>
                        <li>
                          Step 1: Pre-Planning
                          <ol>
                            <li>Discuss the client’s preferences and requirements with their personal assistant or
                              event planner.</li>
                            <li>Create a detailed plan and budget for the surprise party, including decorations,
                              entertainment, food and beverages, and security arrangements.</li>
                            <li>Coordinate with the casino’s management team to ensure that the party is scheduled
                              during a less busy time to minimize disruptions and ensure adequate staffing.</li>
                          </ol>
                        </li>
                        <li>
                          Step 2: Decorations and Ambiance
                          <ol>
                            <li>Create a customized decoration scheme that reflects the client’s personal style and
                              preferences, including balloons, streamers, banners, and centerpieces.</li>
                            <li>Ensure that the decorations are tasteful and not too over-the-top, as the client may
                              not want to draw too much attention to themselves.</li>
                            <li>Arrange for a live band or DJ to play music that caters to the client’s musical
                              preferences.</li>
                          </ol>
                        </li>
                        <li>
                          Step 3: Food and Beverages
                          <ol>
                            <li>Offer the client a customized menu that includes their favorite dishes and drinks.</li>
                            <li>Ensure that the food and beverages are of high quality and presented in an elegant
                              and sophisticated manner.</li>
                            <li>Provide a dedicated bartender and waitstaff to cater to the client’s needs throughout
                              the party.</li>
                          </ol>
                        </li>
                        <li>
                          Step 4: Entertainment
                          <ol>
                            <li>Arrange for entertainment that caters to the client’s interests, such as a private
                              performance by a well-known artist or a professional emcee to host the party.</li>
                            <li>Ensure that the entertainment is not too loud or disruptive, as the client may want
                              to enjoy a more intimate and exclusive experience.</li>
                          </ol>
                        </li>
                        <li>
                          Step 5: Security and Privacy
                          <ol>
                            <li>Provide discreet security arrangements to ensure the client’s privacy and safety
                              during the party.</li>
                            <li>Ensure that the client’s personal space is respected and that they are not bothered
                              by unwanted guests or attention.</li>
                          </ol>
                        </li>
                        <li>
                          Step 6: Cake and Gift
                          <ol>
                            <li>Present the client with a customized cake that reflects their interests and preferences.</li>
                            <li>Offer the client a thoughtful gift that is of high quality and tailored to their tastes
                              and hobbies.</li>
                          </ol>
                        </li>
                      </ul>
                      By following these steps, the casino can ensure that the rich client’s surprise birthday party
                      is a memorable and enjoyable experience that meets their high standards and exceeds their expectations.
                      <br/>If the client is very grumpy and doesn’t enjoy the surprise birthday party, there are a few
                      steps that can be taken to try to salvage the situation:
                      <ul>
                        <li>Apologize and ask for feedback: Approach the client and apologize for any inconvenience or
                          discomfort they may be experiencing. Ask them for feedback on what specifically is not meeting
                          their expectations, and listen carefully to their response.</li>
                        <li>Address any issues promptly: If the client has specific complaints, such as the food not being
                          to their liking or the entertainment being too loud, address these issues promptly and work to
                          resolve them as quickly as possible.</li>
                        <li>Offer a solution: If the client is still not enjoying themselves, offer a solution, such as
                          moving the party to a different location or providing a different type of entertainment. Be open
                          to compromise and work to find a solution that meets the client’s needs.</li>
                        <li>Keep a positive attitude: It’s important to maintain a positive attitude and not take the
                          client’s grumpiness personally. Remember that the client may be having a bad day or be
                          experiencing other stressors in their life that are impacting their mood.</li>
                        <li>Follow up after the party: After the party, follow up with the client to see if there is
                          anything else that can be done to address any issues they may have experienced. This can help
                          to show that the casino is committed to providing excellent service and is willing to go the
                          extra mile to ensure customer satisfaction.</li>
                        <li>Overall, it’s important to remain calm, professional, and accommodating when dealing with a
                          difficult client. By listening to their concerns and working to address them, it may be possible
                          to turn the situation around and still provide a positive experience for the client.</li>
                      </ul></p>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    How to detect cheating in Casinos: A Guide for Employees
                  </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse">
                  <div class="accordion-body">
                    <p>As a casino employee, it’s important to be vigilant and aware of the possibility of cheating.
                      Cheating can take many forms, from players attempting to manipulate the outcome of games to
                      employees colluding with players to defraud the casino. In this article, we’ll explore some
                      common signs of cheating and provide tips on how to detect and prevent it in your casino.<br/>
                      Common Signs of Cheating:
                      <ol>
                        <li>Unusual Behavior: Players who are acting suspiciously or erratically may be attempting
                          to cheat. Be aware of players who are overly nervous, agitated, or evasive.</li>
                        <li>Unusual Betting Patterns: Players who are placing unusual bets or betting patterns may
                          be attempting to manipulate the outcome of games. Be aware of players who are placing large
                          bets on unlikely outcomes or who are betting in a way that doesn’t make sense for the game
                          they’re playing.</li>
                        <li>Marked Cards: Marked cards can be used to cheat in games like blackjack and poker. Look
                          for cards with unusual markings or symbols that don’t belong on the card.</li>
                        <li>Switching Chips: Players may attempt to switch chips to gain an advantage. Be aware of
                          players who are constantly switching chips or who are trying to exchange chips for a
                          different denomination.</li>
                        <li>Collusion: Collusion occurs when two or more players work together to gain an unfair
                          advantage. Be aware of players who are communicating with each other in a way that seems
                          suspicious or who are making identical bets.</li>
                      </ol>
                      Tips for Detecting Cheating:
                      <ol>
                        <li>Know Your Games: Understanding the rules and strategies of the games you offer is crucial
                          in detecting cheating. Familiarize yourself with the game mechanics, payout structures, and
                          common strategies.</li>
                        <li>Observe Players Closely: Pay attention to players’ behavior and body language. Watch for
                          signs of nervousness, agitation, or evasiveness. Observe how players interact with other
                          players and casino staff.</li>
                        <li>Monitor Betting Patterns: Keep an eye on players’ betting patterns, especially those who
                          are betting large amounts or making unusual bets. Be aware of players who are betting in a
                          way that doesn’t make sense for the game they’re playing.</li>
                        <li>Check for Marked Cards: Regularly inspect cards for marks or symbols that don’t belong.
                          Use a card shuffler or dealer to randomize cards and prevent players from tampering with them.</li>
                        <li>Use Surveillance: Utilize surveillance cameras and monitors to keep an eye on players
                          and monitor their behavior. This can help you detect cheating that may not be apparent from
                          the gaming floor.</li>
                        <li>Train Your Staff: Properly train your staff on how to detect cheating and what to do if
                          they suspect it. Make sure they understand the signs of cheating and know how to respond
                          appropriately.</li>
                      </ol>
                      How to Respond to Suspected Cheating:
                      <ol>
                        <li>Stay Calm: If you suspect cheating, remain calm and professional. Avoid accusing the
                          player or making a scene.</li>
                        <li>Notify Security: Inform security personnel of the suspected cheating and provide them
                          with any evidence you have collected.</li>
                        <li>Conduct an Investigation: Collaborate with security and surveillance personnel to
                          conduct a thorough investigation. Review footage, interview witnesses, and gather evidence.</li>
                        <li>Take Appropriate Action: Depending on the outcome of the investigation, take
                          appropriate action. This may include banning the player from the casino, confiscating any
                          winnings, or pressing charges.</li>
                        <li>Review and Improve Security Measures: Use the incident as an opportunity to review and
                          improve security measures to prevent similar incidents from happening in the future.</li>
                      </ol>
                      Conclusion:<br/>
                      Detecting and preventing cheating in casinos is a critical aspect of maintaining a safe and secure gaming environment. By understanding the common signs of cheating and taking appropriate action, casino employees can help protect players and the casino from fraudulent activity. Remember, it’s essential to stay vigilant, monitor player behavior, and respond promptly to any suspicious activity to prevent cheating in your casino.
                      </p>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    Right to be Forgotten
                  </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse">
                  <div class="accordion-body">
                    <p>The Right to be Forgotten: Why It Matters for Casinos<br/>
                      In today’s digital age, data privacy has become a critical concern for businesses and individuals
                      alike. With the increasing use of technology and the internet, the amount of personal data being
                      collected, stored, and shared has skyrocketed. This has led to a growing need for robust data
                      protection laws and regulations to safeguard individuals’ privacy. One such right that has gained
                      significant attention in recent years is the right to be forgotten.<br/>
                      The right to be forgotten, also known as the right to erasure, is the ability for individuals to
                      request that their personal data be deleted or removed from a company’s systems. This right is
                      particularly important for casinos, as they handle sensitive customer information on a daily basis.
                      In this article, we’ll explore why the right to be forgotten is crucial for casinos and how they
                      can ensure compliance with data protection regulations.<br/><br/>
                      Why is the Right to be Forgotten Important for Casinos?<br/>
                      Casinos are responsible for protecting their customers’ personal information, including names,
                      addresses, phone numbers, and financial data. With the right to be forgotten, casinos can
                      demonstrate their commitment to protecting their customers’ privacy and building trust.<br/>
                      Moreover, the right to be forgotten can help casinos avoid potential legal and financial consequences.
                      Data breaches and unauthorized use of personal information can result in significant fines and
                      reputational damage. By erasing personal data upon request, casinos can minimize the risk of data
                      breaches and protect themselves from potential legal liabilities.<br/><br/>
                      How Can Casinos Ensure Compliance with Data Protection Regulations?<br/>
                      To ensure compliance with data protection regulations, casinos must implement policies and
                      procedures that adhere to the right to be forgotten. Here are some steps that casinos can take:
                      <ol>
                        <li>Develop a clear data protection policy: Casinos should develop a comprehensive data
                          protection policy that outlines their commitment to protecting customers’ personal information.
                          The policy should include details on how customers can request their data be deleted, the
                          process for erasing data, and the timeline for completion.</li>
                        <li>Train staff on data protection: Casinos must educate their staff on the importance of data
                          protection and the right to be forgotten. Staff should be trained on how to handle customer
                          requests for data deletion, how to identify and report data breaches, and how to maintain
                          confidentiality.</li>
                        <li>Use secure data storage systems: Casinos should invest in secure data storage systems that
                          are designed to protect sensitive customer information. Data storage systems should be encrypted,
                          and access should be restricted to authorized personnel only.</li>
                        <li>Conduct regular data audits: Casinos should conduct regular data audits to ensure that
                          personal data is accurate, up-to-date, and secure. Audits should include a review of data
                          storage systems, data access controls, and data deletion procedures.</li>
                        <li>Respond promptly</li>
                      </ol></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
