<!DOCTYPE html>
<html>
  <head>
    <title>Intranet CNL</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="icon" href="/images/casinolimit-logo.svg">
  </head>
  <body style="background: url(/images/signup.jpeg) center center no-repeat fixed; background-size: cover;">
    <div class="text-center mt-5">
      <img src="/images/casinolimit-logo-small.svg" height="450" class="mb-2" style="margin-left: 6.5rem;">
      <div class="w-100 m-auto" style="max-width: 400px;">
				<h1 class="h3 mb-3 p-2 bg-dark text-light rounded" style="--bs-bg-opacity: .9;">Please, provide your company email address.</h1>
				<form action="/signup" method="post">
          <div class="input-group">
            <input id="flogin" type="text" name="login" placeholder="Login" class="form-control col-8">
            <span class="input-group-text">@casinolimit.bzh</span>
          </div>
          <button type="submit" class="btn btn-primary mb-3 mt-1">Send email</button>
        </form>
        <h2 class="h5 mb-5 p-2 bg-light rounded" style="--bs-bg-opacity: .9;">Your administrator will send you your password once your account has been verified.</h2>
        <div class="h6 p-2 bg-light rounded d-inline" style="--bs-bg-opacity: .9;">Already registered ?</div>
        <a href="/login" class="btn btn-primary btn-sm">Sign in</a>
      </div>
    </div>
  </body>
</html>